<!-- <h1>{{ object.name }} {% if object.get_edit_url %}<small><a href='{{ object.get_edit_url }}'>Edit</a></small>{% endif %}</h1> -->

<h1>{{ object.name }}</h1>
<a href='{{ object.get_upload_url }}'>Upload-image</a>
{% if object.get_edit_url %}
<small>
    <a href='{{ object.get_edit_url }}'>Edit</a> 
    <!-- <a href='{{ object.get_delete_url }}'>Delete</a>  COMMENTING FOR THE SAKE OF HTMX -->

    <a href='{{ object.get_delete_url }}' hx-post='{{ object.get_delete_url }}' hx-confirm='Are you sure you want to delete {{ object.name }}?' hx-trigger='click'
    >Delete</a>

    
</small>


{% endif %}

<p>{{ object.description }}</p>
<p>{{ object.directions }}</p>

{% for ingredient in object.get_ingredients_children %}
<h1>{{ ingredient.name }}</h1>
<p>{{ ingredient.as_imperial }}</p>
<p>{{ ingredient.as_mks }}</p>
{% endfor %}