<div>
    <form action='/search/' method='GET'>
        <select name='type' id='search-type'>
            {% if request.GET.type == 'article' %}
                <option value='article' selected>Articles</option>
            {% else %}
                <option value='article'>Articles</option>
            {% endif %}

            {% if request.GET.type == 'recipe' %}
            <option value='recipe' selected>Recipes</option>
            {% else %}
                <option value='recipe'>Recipes</option>
            {% endif %}
        </select>

        <input type='text' id='search-query' name='q' value='{{ request.GET.q }}' hx-get='/search/' hx-trigger='keyup changed delay:200ms' hx-include='#search-type' hx-target='#typeahead-results' /> 
        <!-- hx-include='#search-type' se select ko include kiya kaam krne ke liye like changing after triggering.-->
        <!-- hx-target='#typeahead-results' neeche wali div tag ko target karega  -->

        <input type='submit' />
    </form>
    <!-- iske bina bhi mast kaam kr rha hai -->
    <div id='typeahead-results'></div> 
</div>