{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/htmx.org@1.5.0"></script>
    <!-- <style>

        static files me daal ke use kr rhe hai isko
        .htmx-indicator {
            display: none;
        }
        .htmx-request .htmx-indicator {
            display: inline;
        }
        .htmx-inverted-indicator {
            display: inline;
        }
        .htmx-request .htmx-inverted-indicator {
            display: none;
        }
    </style> -->
    <link rel='stylesheet' href='{% static "recipes/recipes-htmx.css" %}' />
    <!-- <link rel='stylesheet' href="static/recipes/recipes-htmx.css"  /> ye wala andar wale static ke liye hai(pr ye overwrite ho jayega) -->
</head>

<body>
    <h1>Hello World!<h1>
           
            <!-- <form action="/articles/" method="GET">
        <input type="text" name="q">
        <input type="submit">
    </form>    to made search more dynamic -->
            {% include 'search/search-form.html' %}


            {% block content %}
            {% endblock content%}

            <script>
                document.body.addEventListener("htmx:configRequest", (event) => {
                    event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}'
                })

        // for the htmx in delete recipe and recipe ingredient
            </script>

</body>

</html>